div.list-item {
  padding: 4px;
  margin: 1em;
  float: left;
  width: 20%;
  height: 12em;
  text-align: center;
  line-height: 110%;
}

.list-item img {
  margin: 0.5em;
}

span.item-detail {
  font-size: small;
  color: gray;
}

td.label {
  color: gray;
  font-weight: normal;
}
