div.list-item {
  padding: 4px;
  margin: 1em;
  float: left;
  width: 20%;
  height: 13em;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

.list-item img {
  margin: 0.5em;
}

span.item-detail {
  font-size: small;
  color: gray;
}

td.label {
  color: gray;
  font-weight: normal;
}
