<div style="text-align: center">
<form action="{SELF}" method="post"><p>
<label for="username">Utilisateur</label> <input id="username" name="username" class="username" size="10" /><br />
<label for="password">Mot de passe</label> <input id="password" name="password" type="password" class="password" size="10" /><br />
<input type="hidden" value="{SELF}" name="referer" />
<input type="submit" value="Login" name="login" />
</p></form>
<a href="/account.php" style="font-size:0.8em;">(s'enregistrer)</a>
</div>

