body {
}

.h1{
	color: #455982;
	font-family: sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 2px #dedede;
	margin-top: 1em;
	margin-bottom: 0.2em;
	clear: left;
}
.subtitle{
	color: #5c5c5c;
	font-family:sans-serif;
	font-size: 0.9em;
	margin-bottom: 0.7em;
}
.h2{
	color: #444444;
	font-family: sans-serif;
	font-size: 1.2em;
}


.theme_row {
	clear: left;
	padding: 10px;
}
.theme_row_title{
	display: block;
	color: #455982;
	font-family: sans-serif;
	font-size: 1.4em;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 2px #dedede;
	margin-top: 1em;
	margin-bottom: 0.2em;
}

img.thumbnail {
	border: 1px #a2a2a2 solid;
/*	margin-bottom: 2em;*/
	margin-right: 1em;
	text-align:middle;
}

img.large_thumbnail {
	border: 1px #a2a2a2 solid;
	margin: 2em;
	text-align:middle;
	clear: left right;
}

div.news_item {
	padding-left: 42px;
	margin-top: 1em;
	margin-bottom: 2em;
	background-image: url("/images/site/stock_dnd_32.png");
	background-repeat: no-repeat;
/*	color: #7d7d7d; */
	font-family: sans-serif;
}

p, td, form {
	font-family: sans-serif;
/*	color: #7d7d7d; */
	font-size: 1em;
	padding: 0.2em;
}

form {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
p.info {
	padding-left:18px;
	background-image: url("/images/site/stock_dialog-info.png");
	background-repeat: no-repeat;
}

p.warning {
	padding-left:18px;
	background-image: url("/images/site/stock_dialog-warning.png");
	background-repeat: no-repeat;
}

p.error {
	padding-left:18px;
	background-image: url("/images/site/stock_dialog-error.png");
	background-repeat: no-repeat;
}

a.jpg {
	padding-left:18px;
	height: 18px;
	background-image: url("/images/site/gnome-mime-image-jpeg.png");
	background-repeat: no-repeat;
}

a.png {
	padding-left:18px;
	height: 18px;
	background-image: url("/images/site/gnome-mime-image-png.png");
	background-repeat: no-repeat;
}

a.tar {
	padding-left:18px;
	height: 18px;
	background-image: url("/images/site/stock_save.png");
	background-repeat: no-repeat;
}

th {
	font-weight: normal;
	color: #444444;
	text-align: left;
	font-family: sans-serif;
	font-size: 1em;
}

#header{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 82px;
	width: 100%;
	background-image:url("/images/site/header-repeat.png");
}

#header-left{
	position: absolute;
	left: 0px;
	height: 82px;
	width:118px;
	background-image: url("/images/site/header-left.png");
	background-repeat: no-repeat;
}

#header-right{
	position: absolute;
	right: 0px;
	height: 82px;
	width:315px;
	background-image: url("/images/site/header-right.png");
	background-repeat: no-repeat;
}

#header-links{
	position: absolute;
	left: 90px;
	top: 58px;
	font-family: sans-serif;
	font-size: 0.8em;
}

#content{
	position: absolute;
	top:84px;
	left:0px;
	right: 230px;
	padding-left: 1em;
	padding-right: 1em;
}

#sidebar{
	position: absolute;
	right: 0px;
	top: 84px;
	width: 200px;
	height:100%;
	border-left: #bfbfbf 1px dashed;
	padding: 1em;
	font-family: sans-serif;
	font-size: 1em;
	color: #333333;
	background-color: #FFFFFF;
}

a {
	color: #113c53;
	text-decoration: none;
}

ul {
	list-style-image: url("/images/site/ul-img.png");
}

li {
	font-size: 1em;
	font-family: sans-serif;
}

a.box {
	padding-left: 0.3em;
	padding-right: 0.3em;
	background-color: #dedede;
}

input, select, textarea {
	font-family: sans-serif;
	font-size: 1em;
/*	color: #7d7d7d; */
	border: 1px #a2a2a2 solid;
}

input.link_button {
	padding: 0em;
	border: none;
	cursor: pointer;
	color: #113c53;
}

input.username {
	padding-left:18px;
	background-image: url('/images/site/stock_person.png');
	background-repeat: no-repeat;
}

input.password {
	padding-left:18px;
	background-image: url('/images/site/stock_keyring.png');
	background-repeat: no-repeat;
}

div.rating-border {
	height: 0.5em;
	background-color: #eeeeee;
	border: solid gray 1px;
	font-size: 4pt;
	width: 96px;
}

div.rating {
	height: 0.5em;
	background-color: #455982;
}

div.rating_text {
	font-size:10px;
	color:#444444;
	text-align: bottom;
	vertical-align: bottom;
}

.rating_vote {
	font-size:10px;
	color:#444444;
	float: left;
	margin-left: 2em;
}

div.icon_view {
	float:left;
	padding:1em;
}

table.comment {
	background-color: #DDDDDD;
	padding: 1px;
	border-width: 0px;
	spacing: 1px;
	width: 100%;
}


td.comment_head {
	background-color: #EFEFEF;
}

td.comment {
	background-color: #FFFFFF;
}

