body {
	background: #ffffff;
	padding-bottom: 0;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	font-size: 10pt;
}

h1{
	color: #455982;
	font-family: sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 2px #dedede;
	margin-top: 1em;
	margin-bottom: 0.2em;
	clear: left;
}

small, .subtitle{
	color: #5c5c5c;
	font-family:sans-serif;
	font-size: 0.8em;
	margin-bottom: 0.7em;
}

h2, .h2{
	color: #444444;
	font-family: sans-serif;
	font-size: 1.2em;
	text-decoration: none;
}

img {
	border: 0px;
	vertical-align: middle;
}

img.header {
	border: none;
}

img.thumbnail {
	border: 1px #a2a2a2 solid;
	padding: 1px;
	margin-right: 1em;
	vertical-align:middle;
}

img.thumbnail_no_border {
	border: none;
	margin-right: 1em;
	vertical-align:middle;
}

img.sidebar {
	border: none;
	vertical-align: middle;
	height: 48px;
	width: 48px;
}

div.news_item {
	padding-left: 42px;
	margin-top: 1em;
	margin-bottom: 2em;
	background-image: url("/images/site/stock_dnd_32.png");
	background-repeat: no-repeat;
/*	color: #7d7d7d; */
	font-family: sans-serif;
}

p, td, form {
	font-family: sans-serif;
/*	color: #7d7d7d; */
	font-size: 1em;
/*	padding: 0.2em; */
}

form {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

p.info {
	padding-left:24px;
	background-image: url("/images/site/stock_dialog-info.png");
	background-repeat: no-repeat;
}

p.warning {
	padding-left:24px;
	background-image: url("/images/site/stock_dialog-warning.png");
	background-repeat: no-repeat;
}

p.error {
	padding-left:24px;
	background-image: url("/images/site/stock_dialog-error.png");
	background-repeat: no-repeat;
}

a {
	color: #113c53;
	text-decoration: underline;
}

h1 a {
	text-decoration: none;
}

.h2 a {
	text-decoration: none;
}

div#sidebar a {
	text-decoration: none;
}

a.jpg {
	padding-left:24px;
	height: 18px;
	background-image: url("/images/site/gnome-mime-image-jpeg.png");
	background-repeat: no-repeat;
	text-decoration: none;
}

a.png {
	padding-left:24px;
	height: 18px;
	background-image: url("/images/site/gnome-mime-image-png.png");
	background-repeat: no-repeat;
	text-decoration: none;
}

a.svg {
	padding-left:24px;
	height: 18px;
	background-image: url("/images/site/gnome-mime-image-svg.png");
	background-repeat: no-repeat;
	text-decoration: none;
}

a.tar {
	padding-left:18px;
	height: 18px;
	background-image: url("/images/site/stock_save.png");
	background-repeat: no-repeat;
	text-decoration: none;
}

a.box {
	padding-left: 0.3em;
	padding-right: 0.3em;
	text-decoration: underline;
/*	background-color: #dedede;
*/
}

th {
	font-weight: normal;
	color: #444444;
	text-align: left;
	font-family: sans-serif;
	font-size: 1em;
	vertical-align:top;
	padding-right: 1em;
}

#header{
	position: absolute;
	margin: 0px;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 82px;
	width: 100%;
	background-image:url("/images/site/header-repeat.png");
}

#header-left{
	position: absolute;
	top: 10px;
	left: 10px;
	height: 82px;
	width:118px;
	border: none;
}

#header-right{
	position: absolute;
	right:0px;
	top: 0px;
	height: 82px;
	width:315px;
}

#header-links{
	position: absolute;
	left: 90px;
	top: 58px;
	font-family: sans-serif;
	font-size: 0.8em;
}

#content{
	margin-top: 106px;
	left:0px;
	margin-right: 230px;
	padding-left: 1em;
	padding-right: 1em;
}

#sidebar{
	position: absolute;
	right: 0px;
	top: 84px;
	width: 180px;
	height:100%;
	border-left: #bfbfbf 1px dashed;
	padding: 1em;
	font-family: sans-serif;
	font-size: 1em;
	color: #333333;
	background-color: #FFFFFF;
}

ul {
	list-style-image: url("/images/site/ul-img.png");
}

li {
	font-size: 1em;
	font-family: sans-serif;
}

li.indent {
	margin-left: 1em;
}

input, select, textarea {
	font-family: sans-serif;
	font-size: 1em;
/*	color: #7d7d7d; */
	border: 1px #a2a2a2 solid;
	margin: 0.1em;
}

input.link_button {
	padding: 0em;
	border: none;
	cursor: pointer;
	color: #113c53;
	background-color: inherit;
}

input.username {
	padding-left:18px;
	background-image: url('/images/site/stock_person.png');
	background-repeat: no-repeat;
}

input.password {
	padding-left:18px;
	background-image: url('/images/site/stock_keyring.png');
	background-repeat: no-repeat;
}

div.icon_view {
	float:left;
	padding:1em;
	height: 100px;
}

.comment {
	background-image: url('/images/site/stock_draw-callouts.png');
/*	background-image: url('/images/site/commentbd.png'); */
	background-repeat: no-repeat;
	padding-left: 28px;
}

div.abuse {
	font-family: sans-serif;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #113c53;
	border-bottom: dotted 2px #dedede;+
}

table.theme_info {
	clear: left;
	margin-top:1em;
}
