/* Base Tags */
body {
	padding: 0px;
	margin: 0px;
	background-color: #fff;
   color: #000000;
	font-family: verdana,helvetica;
	font-size: small;
}

td {
	font-size: small;
}

/* Links */
a:hover {
	color: #555566;
	text-decoration: none;
}

a.bold-link {
	font-weight: bold;
}

a.bold-link:hover {
	font-weight: bold;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}

/* Thumbnails */
img.thumbnail {
	border: 0px;
}

img.thumbnail-border {
	border: 1px solid #000000;
}

img.thumbnail-border-padding {
	margin: 10px 15px 20px 15px;
	border: 1px solid #000000;
}

img.thumbnail-padding {
	margin: 10px 15px 20px 15px;
}

a {
	color: black;
	text-decoration: underline;
}

/* Text Colors */
.purple-text {
	color: #555566;
}

.bold-text {
	font-weight: bold;
}

.black-text {
	color: #000000;
}

/* News Items */
.news-item {
	border-bottom: 1px dashed #ffffff;
}

.news-body {
	font-size: small;
}

/* Middle Boxes */
.mb-lite-title {
	color: #ffffff;
   font-size: large;
   font-weight: bold;
   background: #555566;
	border: 1px solid #000000;
   padding: 3px;
	vertical-align: middle;
}

.mb-lite-title img {
	vertical-align: middle;
}

.mb-lite-contents {
	border-top: 0px solid #000000;
   border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
   padding: 5px;
   font-size: small;
}
