
	<h1>Delete Comment</h1>
	<div class="subtitle">Delete comment from <a href="{art_link}">{art_name}</a></div>
	You are going to remove your comment (ID {commentID}):<br />
	<cite class="message_box_cite">{comment_text}</cite><br />
	<form class="message_box_delete" action="{SELF}" method="post">
		<div class="message_box_ask">
			Are you sure you want to remove this comment?
		</div>
		<div class="message_box_buttons">
			<input tabindex="42" type="submit" name="cancel" value="Cancel" />
			<input tabindex="43" type="submit" name="delete" value="Delete" />
		</div>
		<input type="hidden" name="commentID" value="{commentID}" />
		<input type="hidden" name="artID" value="{comment_artID}" />
		<input type="hidden" name="type" value="{comment_type}" />
		<input type="hidden" name="category" value="{art_category}" />
	</form>
	<br/>
	<br/>
