
	<h1>Edit Comment - Preview</h1>
	<div class="subtitle">Editing comment from <a href="{art_link}">{art_name}</a></div>
	{error_log}
	Comment preview:
	<div class="message_box_phpBB">
		<div class="comment_preview">
			<div class="h2">From <a href="/users/{user-name}">{user_name}</a></div>
			<div class="subtitle">Posted {post_time}</div>
			<p>
				{comment_text_preview}
			</p>
		</div>
	</div>
	<form class="message_box_edit" action="{SELF}" method="post">
		Do more changes:<br />
		<textarea id="phpBB_box" tabindex="41" rows="5" cols="50" name="comment_text">{comment_text}</textarea><br/>
		<div class="message_box_ask">
			Do you want to save this updated comment?
		</div>
		<div class="message_box_buttons">
			<input tabindex="42" type="submit" name="preview" value="Preview"/>
			<input tabindex="43" type="submit" name="cancel" value="Cancel" />
			<input tabindex="44" type="submit" name="save" value="Save"/>
		</div>
		<input type="hidden" name="commentID" value="{commentID}"/>
		<input type="hidden" name="artID" value="{comment_artID}"/>
		<input type="hidden" name="type" value="{comment_type}"/>
		<input type="hidden" name="category" value="{art_category}"/>
	</form>
	<br/>
	<br/>
