

	<h1>Edit Background - Preview</h1>
	Description preview:
	<p class="message_box_phpBB">
		{background_description_preview}
	</p>
	<form class="message_box_edit" action="{SELF}" method="post">
		<input type="hidden" name="backgroundID" value="{background_backgroundID}" />
		<input type="hidden" name="background_category" value="{background_category}" />
		<table>
			<tr>
				<td>Name:</td>
				<td><input tabindex="40" type="text" name="background_name" value="{background_name}" /></td>
			</tr>
			<tr>
				<td>Version:</td>
				<td><input tabindex="41" type="text" name="background_version" value="{background_version}" /></td>
			</tr>
			<tr>
				<td>Description:</td>
				<td><textarea id="phpBB_box" tabindex="42" rows="5" cols="50" name="background_description">{background_description}</textarea></td>
			</tr>
			<tr>
				<td>License:</td>
				<td>{license_box}</td>
			</tr>
			<tr>
				<td>Variation Of:</td>
				<td>{variation_box}</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="message_box_ask">
						Do you want to save this updated background data?
					</div>
					<div class="message_box_buttons">
						<input tabindex="45" type="submit" name="preview" value="Preview"/>
						<input tabindex="46" type="submit" name="cancel" value="Cancel" />
						<input tabindex="47" type="submit" name="save" value="Save"/>
					</div>
				</td>
			</tr>
		</table>
	</form>
	<br/>
	<br/>
