<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="description" content="Themes and backgrounds for use with the GNOME desktop environment" />
<meta name="author" content="The art.gnome.org team" />
<meta name="keywords" content="art.gnome.org art backgrounds wallpapers images icons gdm linux artwork splash screens download screen metacity gtk login manager engines themes gnome desktop environment" />
<link type="text/css" rel="stylesheet" title="Default" href="/default.css" />
<link type="text/css" rel="alternate stylesheet" title="Left sidebar" href="/left-sidebar.css" />
<link rel="icon" type="image/png" href="http://www.gnome.org/img/logo/foot-16.png" />
<link rel="alternate" href="/backend.php" type="application/rss+xml" title="art.gnome.org" />
<script type="text/javascript" src="/styleswitcher.js"></script>
<title>GNOME Art - {page-title}</title>
</head>
<body>
<div id="header">
<div id="header-left"><a href="/"><img class="header" src="/images/site/header-left.png" alt="art.gnome.org" /></a></div><div id="header-right"><a href="/"><img class="header" src="/images/site/header-right.png" alt="art.gnome.org" /></a></div>
<div id="header-links">
<a href="http://www.gnome.org/about/">About GNOME</a> &middot;
<a href="http://www.gnome.org/start/stable/">Download</a> &middot;
<a href="http://www.gnome.org/">Users</a> &middot;
<a href="/"><strong>Art &amp; Themes</strong></a> &middot;
<a href="http://developer.gnome.org/">Developers</a> &middot;
<a href="http://foundation.gnome.org/">Foundation</a> &middot;
<a href="http://www.gnome.org/contact/">Contact</a>
</div>
</div>

<div id="sidebar">
<a href="/" style="text-decoration: none;" ><img src="/images/site/gnome-graphics.png" alt="Art" height="48" width="48" class="sidebar" /> Art</a>
<ul>
<li><a href="/">News</a></li>
<li><a href="/faq.php">FAQ</a></li>
<li><a href="http://live.gnome.org/GnomeArt_2fTutorials">Tutorials</a></li>
<li><a href="http://gnomesupport.org/forums/index.php?c=6">Forums</a></li>
<!-- <li><a href="/screenshots/">Screenshots</a></li> -->
</ul>
<br />
<a href="/search.php" style="text-decoration: none;" >

<img src="/images/site/gnome-searchtool-animation-rest.png" alt="Search" height="48" width="48" class="sidebar" /> Search

</a>
<form action="/search.php" method="get" style="margin-left:2em; margin-top:0.8em;">
<table><tr><td>
<input type="text" name="search_text" style="width:100%;"/>
</td><td>
<input type="image" src="/images/site/stock_search.png" style="border: none" value="" /><br/>
<input type="hidden" name="search_type" value="all"/>
</td></tr></table>
</form>
<ul><li><a href="/search.php">Advanced Search</a></li></ul>
<br/>

<br />

<a href="/backgrounds" style="text-decoration: none;"  >

<img src="/images/site/wallpaper.png" alt="Wallpapers" height="48" width="48" class="sidebar" /> Backgrounds

</a>
<ul>
<li><a href="/backgrounds/gnome/">GNOME</a></li>
<li><a href="/backgrounds/nature/">Nature</a></li>
<li><a href="/backgrounds/abstract/">Abstract</a></li>
<li><a href="/backgrounds/other/">Other</a></li>
</ul>
<br />
<a style="text-decoration: none;" href="/themes"><img src="/images/site/theme.png" alt="Themes" height="48" width="48" class="sidebar" /> Desktop Themes</a>
<ul>
<li><a href="/themes/gtk2/">Application</a></li>
<li><a href="/themes/metacity/">Window Border</a></li>
<li><a href="/themes/icon/">Icons</a></li>
<li><a href="/themes/gdm_greeter/">Login Manager</a></li>
<li><a href="/themes/splash_screens/">Splash Screen</a></li>
<li><a href="/themes/gtk_engines/">GTK+ Engines</a></li>
</ul>
<br /><br />
{user-menu}

</div>

<div id="content">
{content}
</div>
<div id="footnote">
<br/>
<p><img alt="GNOME Art" src="/images/site/ago_but2.png" /><br/>Copyright &copy; 2002 - 2005<br/><a href="/copyright.php"><strong>The art.gnome.org team</strong></a><br/></p>
</div>
</body>
</html>
