<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="Cache-Control" content="Public" />

	<meta name="description" content="Themes and backgrounds for use with the GNOME desktop environment" />
	<meta name="author" content="The art.gnome.org team" />
	<meta name="keywords" content="art.gnome.org art backgrounds wallpapers images icons gdm linux artwork splash screens download screen metacity gtk login manager engines themes gnome desktop environment" />
	<meta name="resource-type" content="document" />

	<link type="text/css" rel="stylesheet" title="Default" href="/default.css" />
	<link type="text/css" rel="alternate stylesheet" title="Left sidebar" href="/left-sidebar.css" />

	<meta name="robots" content="index,follow,noarchive" />
	<meta name="googlebot" content="index,follow,noarchive,snippet" />
	<meta name="revisit" content="3 days" />

	<link rel="icon" type="image/png" href="http://www.gnome.org/img/logo/foot-16.png" />
	<link rel="alternate" href="/backend.php" type="application/rss+xml" title="art.gnome.org" />

	<link rel="top" href="/" title="Main page" />
	<link rel="first" href="/" title="Main page" />
	<link rel="home" href="/" title="Main page" />
	<link rel="author" href="/contact.php" title="Contact" />
	<link rel="copyright" href="/copyright.php" title="Copyright" />
	<link rel="help" href="http://gnomesupport.org/forums/index.php?c=6" title="Help forum" />
	<link rel="search" href="/search.php" title="Search" />

	<script type="text/javascript" src="/styleswitcher.js"></script>

	<title>GNOME Art - {page-title}</title>
</head>

<body>
<div id="header">
	<div id="header-left">
		<a href="/"><img class="header" src="/images/site/header-left.png" alt="Art.Gnome.org logo" /></a></div><div id="header-right"><a href="/"><img class="header" src="/images/site/header-right.png" alt="Art.Gnome.org" /></a>
	</div>
	<div id="header-links">
		<a href="http://www.gnome.org/about/">About GNOME</a> &middot;
		<a href="http://www.gnome.org/start/stable/">Download</a> &middot;
		<a href="http://www.gnome.org/">Users</a> &middot;
		<a href="/"><strong>Art &amp; Themes</strong></a> &middot;
		<a href="http://developer.gnome.org/">Developers</a> &middot;
		<a href="http://foundation.gnome.org/">Foundation</a> &middot;
		<a href="http://www.gnome.org/contact/">Contact</a>
	</div>
</div>

<div id="sidebar">
	<a href="/" style="text-decoration: none;" accesskey="A"><img src="/images/site/gnome-graphics.png" alt="Art icon" height="48" width="48" class="sidebar" /> <span class="page_shortcut">A</span>rt</a>
	<ul>
		<li><a href="/news.php">News</a></li>
		<li><a href="/faq.php">FAQ</a></li>
		<li><a href="http://live.gnome.org/GnomeArt/Tutorials">Tutorials</a></li>
		<li><a href="http://gnomesupport.org/forums/index.php?c=6">Forums</a></li>
		<li><a href="/screenshots/">Screenshots</a></li>
	</ul>
	<br />
	<form action="/search.php" method="get">
		<div style="margin-left:2em;">
			<input type="text" name="search_text" alt="Enter keyword here" id="search_input" tabindex="101" value="Search..." onfocus="if (this.value == 'Search...') this.value = ''" onblur="if (this.value == '') this.value='Search...'" />
			<button class="search_button" tabindex="102">
			<img src="/images/site/stock_search.png" style="border: none" alt="Search!" />
			</button><br />
			<input type="hidden" name="search_type" value="all"/>
		</div>
	</form>
	<ul>
		<li><a href="/search.php">Advanced Search</a></li>
	</ul>
	<br/>
	<br />
	<a href="/backgrounds" style="text-decoration: none;" accesskey="B"><img src="/images/site/wallpaper.png" alt="Wallpapers icon" height="48" width="48" class="sidebar" /> <span class="page_shortcut">B</span>ackgrounds</a>
	<ul>
		<li><a href="/backgrounds/gnome/">GNOME</a></li>
		<li><a href="/backgrounds/nature/">Nature</a></li>
		<li><a href="/backgrounds/abstract/">Abstract</a></li>
		<li><a href="/backgrounds/other/">Other</a></li>
	</ul>
	<br />
	<a style="text-decoration: none;" href="/themes" accesskey="T"><img src="/images/site/theme.png" alt="Themes icon" height="48" width="48" class="sidebar" /> D<span class="page_shortcut">e</span>sktop Themes</a>
	<ul>
		<li><a href="/themes/gtk2/">Application</a></li>
		<li><a href="/themes/metacity/">Window Border</a></li>
		<li><a href="/themes/icon/">Icons</a></li>
		<li><a href="/themes/gdm_greeter/">Login Manager</a></li>
		<li><a href="/themes/splash_screens/">Splash Screen</a></li>
		<li><a href="/themes/gtk_engines/">GTK+ Engines</a></li>
	</ul>
	<br />
	<br />
{user-menu}
</div>

<div id="content">
{content}
</div>

<!-- For some reason, Safari doesn't seem to read the #footnote section from default.css,
     so we include the style information in-line -->
<div id="footnote" style="text-align: center; padding: 1em; clear:both;font-size: small;">
	<img alt="GNOME Art" src="/images/site/ago_but2.png" /><br/>
	Copyright &copy; 2002 - 2006<br/>
	<a href="/copyright.php"><strong>The art.gnome.org team</strong></a>
</div>

</body>
</html>
