
	<p>If you would like to submit your background to art.gnome.org, please fill out the form below and provide a web address where we can download your background.</p>
	<p class="info">To help speed up your submission, please take a look at the <a href="http://live.gnome.org/GnomeArt/SubmissionPolicy">Submission Policy</a> first.</p>

{message}

	<form action="{SELF}" method="post">
		<table border="0">
			<tr>
				<td><strong><label for="background_name">Background Name</label>:</strong></td>
				<td><input type="text" name="background_name" id="background_name" size="40" value="{background-name}" /></td>
			</tr>
			<tr>
				<td><strong><label for="category">Category</label></strong></td>
				<td>{category-list}</td>
			</tr>
			<tr>
				<td><strong><label for="variation">Variation of</label>:</strong></td>
				<td>{variation-list}</td></tr>
			<tr>
				<td><strong><label for="version">Version</label></strong></td>
				<td><input type="text" name="version" id="version" size="40" value="{version}" /></td>
			</tr>
			<tr>
				<td><strong><label for="license">License</label></strong></td>
				<td>{license-list}</td>
			</tr>
			<tr>
				<td><strong><label for="author">Background Author</label>:</strong></td>
				<td>{realname}</td>
			</tr>
			<tr>
				<td><strong><label for="background_description">Description</label>:</strong></td>
				<td><textarea name="background_description" id="background_description" cols="40" rows="5" wrap="true">{background-description}</textarea></td>
			</tr>
		</table>

		<p class="info">Tick the box next to each background type you wish to submit</p>
		<table border="0">
			<tr>
				<td style="text-align:center"><strong>X</strong></td>
				<td><strong>Resolution</strong></td>
				<td><strong>URL</strong></td>
				<td style="text-align:center"><strong>X</strong></td>
				<td><strong>Resolution</strong></td>
				<td><strong>URL</strong></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="background_toggles[jpg|1024x768]" id="jpg1024" /></td>
				<td><label for="jpg1024">JPG - 1024x768</label></td>
				<td><input type="text" class="jpg1024" name="backgrounds[jpg|1024x768]" /></td>
				<td><input type="checkbox" name="background_toggles[png|1024x768]" id="png1024" /></td>
				<td><label for="png1024">PNG - 1024x768</label></td>
				<td><input type="text" name="backgrounds[png|1024x768]" /></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="background_toggles[jpg|1280x1024]" id="jpg1280" /></td>
				<td><label for="jpg1280">JPG - 1280x1024</label></td><td><input type="text" name="backgrounds[jpg|1280x1024]" /></td>
				<td><input type="checkbox" name="background_toggles[png|1280x1024]" id="png1280" /></td>
				<td><label for="png1280">PNG - 1280x1024</label></td><td><input type="text" name="backgrounds[png|1280x1024]" /></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="background_toggles[jpg|1400x1050]" id="jpg1400" /></td>
				<td><label for="jpg1400">JPG - 1400x1050</label></td><td><input type="text" name="backgrounds[jpg|1400x1050]" /></td>
				<td><input type="checkbox" name="background_toggles[png|1400x1050]" id="png1400" /></td>
				<td><label for="png1400">PNG - 1400x1050</label></td><td><input type="text" name="backgrounds[png|1400x1050]" /></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="background_toggles[jpg|1600x1200]" id="jpg1600" /></td>
				<td><label for="jpg1600">JPG - 1600x1200</label></td><td><input type="text" name="backgrounds[jpg|1600x1200]" /></td>
				<td><input type="checkbox" name="background_toggles[png|1600x1200]" id="png1600" /></td>
				<td><label for="png1600">PNG - 1600x1200</label></td><td><input type="text" name="backgrounds[png|1600x1200]" /></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="background_toggles[jpg|1680x1050]" id="jpg1680" /></td>
				<td><label for="jpg1680">JPG - 1680x1050</label></td>
				<td><input type="text" name="backgrounds[jpg|1680x1050]" /></td>
				<td><input type="checkbox" name="background_toggles[png|1680x1050]" id="png1680" /></td>
				<td><label for="png1680">PNG - 1680x1050</label></td>
				<td><input type="text" name="backgrounds[png|1680x1050]" /></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="background_toggles[jpg|1920x1200]" id="jpg1920" /></td>
				<td><label for="jpg1920">JPG - 1920x1200</label></td>
				<td><input type="text" name="backgrounds[jpg|1920x1200]" /></td>
				<td><input type="checkbox" name="background_toggles[png|1920x1200]" id="png1920" /></td>
				<td><label for="png1920">PNG - 1920x1200</label></td>
				<td><input type="text" name="backgrounds[png|1920x1200]" /></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="background_toggles[svg|scalable]" id="svg" /></td>
				<td><label for="svg">SVG</label></td>
				<td><input type="text" name="backgrounds[svg|scalable]" /></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Submit Background" name="submit" /></td>
			</tr>
		</table>
	</form>
