	<h1>{name} by <a href="/users/{username}">{username}</a></h1>
	<div class="subtitle">Backgrounds - {category}</div>
	<table class="comment_table">
		<tr style="border-bottom: 1px dotted gray;">
			<td colspan="2" style="padding-bottom: 10px; width: 66%;">
				<img src="/images/{archive}thumbnails/backgrounds/{thumbnail_filename}" alt="Preview" class="thumbnail" />
				{description}
			</td>
			<td style="padding-bottom: 10px; width: 33%;">
				<div class="download_box">
					<strong>Available Resolutions</strong><br/>
					{download-list}
				</div>
			</td>
		</tr>
		<tr>
			<th style="width: 33%; font-weight: bold; padding-top: 10px;">Release</th>
			<th colspan="2" style="width: 66%; font-weight: bold; padding-top: 10px;">License</th>
		</tr>
		<tr>
			<td style="width: 33%; padding-bottom: 10px;">{release-date}</td>
			<td colspan="2" style="width: 66%; padding-bottom: 10px;">{license-link}</td>
		</tr>
		<tr>
			<th style="width: 33%; font-weight: bold;">Rating</th>
			<th style="width: 33%; font-weight: bold;">My rating</th>
			<th style="width: 33%; font-weight: bold;">Popularity</th>
		</tr>
		<tr style="border-bottom: 1px dotted gray;">
			<td style="white-space:nowrap; width: 33%; padding-bottom: 10px;">{rating-bar}</td>
			<td style="white-space:nowrap; width: 33%; padding-bottom: 10px;"><small>{user-rating}</small></td>
			<td style="width: 33%; padding-bottom: 10px;">{download_count} downloads</td>
		</tr>
	</table>
	{edit-link}
	{variations}
	<h1>User Comments</h1>
	<br/>
	{comments}
	<hr/>
	{comment-form}

