<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Thèmes et arrière-plans pour l'environnement de bureau GNOME" />
<meta name="author" content="L'équipe art.gnome.org" />
<meta name="keywords" content="art.gnome.org art backgrounds wallpapers arrière-plans images icons icônes gdm linux artwork splash screens écrans de démarrage download télécharger screen écran metacity gtk login manager gestionnaire de connexion engines moteurs themes thèmes gnome desktop environment environnement de bureau gnome" />
<link type="text/css" rel="stylesheet" title="Default" href="/default.css" />
<link type="text/css" rel="alternate stylesheet" title="Left sidebar" href="/left-sidebar.css" />
<link rel="icon" type="image/png" href="http://www.gnome.org/img/logo/foot-16.png" />
<link rel="alternate" href="/backend.php" type="application/rss+xml" title="art.gnome.org" />
<script type="text/javascript" src="/styleswitcher.js"></script>
<title>GNOME Art - {page-title}</title>
</head>
<body>
<div id="header">
<div id="header-left"><a href="/"><img class="header" src="/images/site/header-left.png" alt="art.gnome.org" /></a></div><div id="header-right"><a href="/"><img class="header" src="/images/site/header-right.png" alt="art.gnome.org" /></a></div>
<div id="header-links">
<a href="http://www.gnome.org/about/">À propos de GNOME</a> &middot;
<a href="http://www.gnome.org/start/stable/">Téléchargement</a> &middot;
<a href="http://www.gnome.org/">Utilisateurs</a> &middot;
<a href="/"><strong>Art &amp; Thèmes</strong></a> &middot;
<a href="http://developer.gnome.org/">Développeurs</a> &middot;
<a href="http://foundation.gnome.org/">Fondation GNOME</a> &middot;
<a href="http://www.gnomefr.org/">GNOME-FR</a> &middot;
<a href="http://www.gnome.org/contact/">Contact</a>
</div>
</div>

<div id="sidebar">
<a href="/" style="text-decoration: none;" ><img src="/images/site/gnome-graphics.png" alt="Art" height="48" width="48" class="sidebar" /> Art</a>
<ul>
<li><a href="/">Actualités</a></li>
<li><a href="/faq.php">FAQ</a></li>
<li><a href="http://live.gnome.org/GnomeArt_2fTutorials">Tutoriaux</a></li>
<li><a href="http://gnomesupport.org/forums/index.php?c=6">Forums</a></li>
</ul>
<br />
<a href="/search.php" style="text-decoration: none;" >

<img src="/images/site/gnome-searchtool-animation-rest.png" alt="Recherche" height="48" width="48" class="sidebar" /> Recherche

</a>
<form action="/search.php" method="get" style="margin-left:2em; margin-top:0.8em;">
<table><tr><td>
<input type="text" name="search_text" style="width:100%;"/>
</td><td>
<input type="image" src="/images/site/stock_search.png" style="border: none" value="" /><br/>
<input type="hidden" name="search_type" value="all"/>
</td></tr></table>
</form>
<ul><li><a href="/search.php">Recherche avancée</a></li></ul>
<br/>

<br />

<a href="/backgrounds" style="text-decoration: none;"  >

<img src="/images/site/wallpaper.png" alt="Arrière-plans" height="48" width="48" class="sidebar" /> Arrière-plans

</a>
<ul>
<li><a href="/backgrounds/gnome/">GNOME</a></li>
<li><a href="/backgrounds/nature/">Nature</a></li>
<li><a href="/backgrounds/abstract/">Abstrait</a></li>
<li><a href="/backgrounds/other/">Autre</a></li>
</ul>
<br />
<a style="text-decoration: none;" href="/themes"><img src="/images/site/theme.png" alt="Thèmes" height="48" width="48" class="sidebar" /> Thèmes de bureau</a>
<ul>
<li><a href="/themes/gtk2/">Contrôles</a></li>
<li><a href="/themes/metacity/">Bordures de fenêtres</a></li>
<li><a href="/themes/icon/">Icônes</a></li>
<li><a href="/themes/gdm_greeter/">Gestionnaire de connexion</a></li>
<li><a href="/themes/splash_screens/">Écran de démarrage</a></li>
<li><a href="/themes/gtk_engines/">Moteurs GTK+</a></li>
</ul>
<br /><br />
{user-menu}

</div>

<div id="content">
{content}
</div>
<div id="footnote">
<p>Copyright &copy; 2002 - 2006<br /><a href="/copyright.php"><strong>L'équipe art.gnome.org</strong></a><br/></p>
</div>
</body>
</html>
