/* IDs */
.stylled_form form{
	background: #464646;
	width: 300px;
}
.stylled_form fieldset
{
	display: block;
	width: 25em;
	margin: 0 0 0em 0em;
	padding: 1em 1em 1em 1em;
	border: 0;
}

.stylled_form fieldset.radio
{
	width: 15em;
	margin: 1em 0 2em 0;
}

.stylled_form fieldset.radio input
{
	clear: both;
	float: left;
	width: auto;
}

.stylled_form fieldset.radio label
{
	font-weight: normal;
}

.stylled_form input
{
	display: block;
	width: 200px;
}

.stylled_form input[type="text"],
.stylled_form input[type="password"] {
    background: #fff;
    line-height: 5em !important;
	font-size: 1.5em;
    vertical-align: middle;
}

.stylled_form input[type="hidden"]{
	display: none;
}

.stylled_form label
{
	display: block;
	margin-bottom: 1em;
	font-weight: normal;
	font-size: 1.2em;
}

.stylled_form label.first
{
	padding-top: 1em;
}

.stylled_form select
{
	display: block;
}

.stylled_form legend{
	margin: -5px;
}

.stylled_form .form_help {
	display: none;
}

.stylled_form .form_help {
	display:none;
	position: absolute;
	left: 325px;
	width: 250px;
	margin-top: -30px;
	border: 1px solid #CEE12F;
	padding: 10px 12px;
	background: #3a3a3a;
	color: #fff;
	line-height: 1.7em;
	font-size: 0.9em;
}

.hint-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background: url(../images/pointer.gif) left top no-repeat;
}


