#universe {
	min-width: 1024px;
}

#top_bar { height: 5px; background: #515151; }

#top-bar { 
	background: #515151 url("../images/bgs.gif") repeat-x left bottom;
	height: 106px; 
	position: relative;
	right: 0;
	left: 0;
	top: 0px;
}

	#top-bar .logo {
		background: url("../images/bgs.gif") no-repeat left -68px;
		bottom: 0;
		height: 103px;
		overflow: hidden;
		font-size: 0px;
		position: absolute;
		width: 310px;
		z-index: 0;
	}
	
	#top-bar #gnome-menu {
		background: #777;
		display: inline;
		overflow: hidden;
		height: 15px;
		position: absolute;
		left: 50%;
		top: 0;
		z-index: 2;
	}
	
	#top-bar #ago-menu {
		position: absolute;
		right: 50px;
		bottom: 12px;
	}
	
	#ago-menu ul {
		position: relative;
		list-style: none;
		z-index: 3;
	}
		#ago-menu ul li {
			display: inline;
			margin: 5px 10px 0px 10px;
			padding-bottom: 15px;
		}
		
		#ago-menu ul li.marked,
		#ago-menu ul li:hover {
			background: url("../images/marker.gif") no-repeat center 17px;
		}

#sub-bar {
	background: #464646;
	height: 40px;
	position: relative;
	right: 0;
	left: 0;
	top:0;
}

	#top .login {
		color: #fff;
		position: absolute;
		left: 0;
		bottom: 10px;
		margin-left: 20px;
	}
	
#middle-bar {
	background: #b5b58a url("../images/middle_bar_bg.gif") repeat-x left top;
	height: auto;
	border-bottom: 1px solid #fff;
	padding: 20px 5px 10px 5px;
	position: relative;
}
	#middle-bar #initial_notice{
		position: relative;
		background: #c1c19d;
		padding: 10px;
		margin-right: 5px;
		width: 275px;
	}
	
	#middle-bar h2{
		color: #000;
	}
	
	#middle-bar #initial_notice,
	#middle-bar #news {
		float: left;
		padding: 10px;
	}
	
	#middle-bar #news {
		border-left: 1px solid #c1c19d;
		padding-left: 20px;
	}
	
	#middle-bar p,#middle-bar li {
		color: #555;
	}
	
	#featured_work{
		background: #999978 url("../images/featured.gif") no-repeat left top;
		float: right;
		height: 150px;
		width: 220px;
		margin-top: -5px;
		margin-right: 10px;
		padding-left: 30px;
		position: relative;
		display: table;
	}
	
	#featured_work .thumb{
		overflow: hidden;
		display: table-cell; 
		vertical-align: middle;
		text-align: center;
		#position: absolute;
		#top: 50%;
	}
	#featured_work .thumb span {
		#position: relative;
		#top: -50%;
	}


/** Forms */
input, textarea { border: 1px solid #ccc;}

#top .login .label {
	text-align:right;
	width:70px;
	float:left;
	padding:0.2em;
}

#top .login fieldset {
	border: 0;
	padding-top: 3px;
}

#top .login input.inputter {
	background: transparent url('../images/bg_top.gif') no-repeat -10px -47px fixed;
	border: solid 0 #fff;
	width: 139px;
	height: 17px;
	
	padding-top:2px;
	position:relative;
	top:2px;
	z-index:39;
}

#top .login fieldset>input.inputter {
	background: transparent url('../images/bg_top.gif') no-repeat -10px -47px; 
}

#top .login .submitter {
	background: url('../images/buttons.gif') no-repeat -6px -3px;
	height:0px;
	margin: 3px;
	margin-left: 5px;
	overflow:hidden;
	padding-top: 17px;
	position:absolute;
	top:2px;
	width:56px;
	-moz-outline:none;
}

#top .login a.submitter:hover {
	background-position: -6px -23px;
}

/*#top .login input {
	background: transparent;
	height: 17px;
	width: 139px;
	padding: 2px 2px 3px 1px;
	position: relative;
	border: 0;
	z-index:40;
	top:2px;
}*/

#content {
	position: relative;
	margin-right: 300px;
	padding : 30px 20px 10px 10px;
	margin-bottom : 20px;
	}
	
#column {
	float : right;
	width : 250px;
	padding : 10px;
	margin-bottom : 20px;
	background: none;
	}
	
/** sidebar elements*/

#resources_menu {
	position: relative;
	background: #333;
	padding: 10px;
}

	#resources_menu h2 {
		color: #565656;
		margin-bottom: 7px;
	}
	
	#resources_menu ul {
		list-style: none;
	}




	
#footer {
	clear : both;
	width : 100%;
	height : 40px;
	border-top : 1px solid #d0d0d0;
	}
	
	
	
/* Register View */

#openid_notice {
	background: #515151;
	border: 0;
	float: right;
	margin-left: 300px;
	padding: 10px;
	position: relative;
}

#openid_notice .openid {
	background-color: #fff;
}
	
	
/** Misc */

.openid {
background:transparent url(../images/openid_login.gif) no-repeat scroll 0pt 50%;
padding-left:18px;
}

.lb {
	position: absolute;
	left: -1px;
	bottom: -1px;
	height: 2px;
	width: 2px;
	background: url('../images/bg.gif') no-repeat 0 -2px;
}

.rb {
	position: absolute;
	right: -1px;
	bottom: -1px;
	height: 2px;
	width: 2px;
	background: url('../images/bg.gif') no-repeat -2px -2px;
}

.rt {
	position: absolute;
	right: -1px;
	top: -1px;
	height: 2px;
	width: 2px;
	background: url('../images/bg.gif') no-repeat -2px 0px;
}
.lt {
	position: absolute;
	left: -1px;
	top: -1px;
	height: 2px;
	width: 2px;
	background: url('../images/bg.gif') no-repeat 0px 0px;
}

.clearfix:after {	
	content: ".";	
	display: block;	
	height: 0;	
	clear: both;	
	visibility: hidden;
}
