* { margin: 0; padding:0; }

a, a img, img { border: 0;}
a{text-decoration:none;}

body {
	background: #565656;
	color: #fdfdfd;
}

p {
	margin-bottom: 5px;
}

body,p,li,label,h1,h2,h3,legend {
	color: #fff;
}

a { color: #C2A95D; text-decoration: none; }
a:hover { border-bottom: 1px dotted #C2A95D; }