body {
	font : normal 11px/14px Verdana, Sans-serif;
	font-weight: normal;
	color : #f4f4f4;
	}
	
h1 {
	color : #444;
	border-bottom : 1px solid #d0d0d0;
	font-size : 16px;
	font-weight : bold;
	margin : 10px;
	padding : 5px 0 6px 0;
	}
	
h1,h2,h3{
	font-family: "Century Gothic", "Tahoma", Arial, serif;
	font-weight: normal;
	margin-bottom: 10px;
}
	
code {
	display : block;
	margin : 14px 0 14px 0;
	padding : 12px 10px 12px 10px;
	font : normal 12px/14px "Monaco, Verdana, Sans-serif";
	color : #002166;
	border : 1px solid #d0d0d0;
	background-color : #f9f9f9;
	}
	

/** Ago menu */
#ago-menu ul li a {
	font-family: "Century Gothic", "Tahoma", Arial, serif;
	font-size: 18px;
	color: #fdfdfd;
}
	
/** Login */
#top .login label{
	font-family: Verdana,sans-serif;
	position: relative;
	top: 2px;
}

#top .login a { color: #C2A95D;}



/** Sidebar Elements */

#resources_menu ul li a {
	color: #B5B58A;
}


/** Register View */
#openid_notice {}
	#openid_notice h3{
		color: #CEE12F;
		font-family: "Lucida Grande", Verdana,serif;
		font-size: 1.2em;
	}

	#openid_notice p,#openid_notice label {
		color: #ccc;
	}