body {
	font-family: Verdana, Sans-serif;
	background-color : #565656;
	color: white;
	margin: 0;
}

h1,h2,h3{
	font-family: "Century Gothic", "Tahoma", Arial, serif;
	font-weight: normal;
	margin-top: 0px;
}

h1 {
	font-size: 200%;
	margin: 0 0 0.2em 0;
	color: #CEE12F;
	font-family: "Lucida Grande", Verdana,serif;
	letter-spacing: -0.03em;
	font-weight: normal;
}

code {
	display : block;
	margin : 14px 0 14px 0;
	padding : 12px 10px 12px 10px;
	font : normal 12px/14px "Monaco, Verdana, Sans-serif";
	color : #002166;
	border : 1px solid #d0d0d0;
	background-color : #f9f9f9;
}

a {
	text-decoration: none;
	color: #C2A95D;
}

a:hover {
	border-bottom: dotted 1px #C2A95D;
}


/** Ago menu */
#ago-menu ul li a {
	font-family: "Century Gothic", "Tahoma", Arial, serif;
	color: #fdfdfd;
}

#ago-menu ul li a:hover {
	border: 0;
}

/** Sidebar Elements */

#resources_menu ul li a {
	color: #B5B58A;
}


/** Register View */
#openid_notice {}
	#openid_notice h3{
		color: #CEE12F;
		font-family: "Lucida Grande", Verdana,serif;
		font-size: 1.2em;
	}

	#openid_notice p,#openid_notice label {
		color: #fff;
	}
