	<h1>{name} By <a href="/users/{username}">{username}</a></h1>
	<div class="subtitle">Screenshots - {category-name}</div>
	<table class="comment_table">
		<tr style="border-bottom: 1px dotted gray;">
			<td colspan="3" style="padding-bottom: 10px;">
				<a href="/preview.php?image=screenshots/{category}/{download_filename}" onClick="window.open('/preview.php?image=screenshots/{category}/{download_filename}', 'Art Preview', 'width=640,height=640,resizable=no,scrollbars=yes,status=no'); return false;" rel="external">
					<img src="/images/thumbnails/screenshots/{category}/{thumbnail_filename}" alt="Preview" class="{thumbnail-class}" />
				</a>
				{description}
			</td>
		</tr>
		<tr>
			<th style="width: 33%; font-weight: bold; padding-top: 10px;">Release:</th>
			<th style="width: 33%; font-weight: bold; padding-top: 10px;">Rating:</th>
			<th style="width: 33%; font-weight: boldů padding-top: 10px;">My rating:</th>
		</tr>
		<tr style="border-bottom: 1px dotted gray;">
			<td style="white-space:nowrap; width: 33%; padding-bottom: 10px;">{release-date}</td>
			<td style="white-space:nowrap; width: 33%; padding-bottom: 10px;">{rating-bar}</td>
			<td style="white-space:nowrap; width: 33%; padding-bottom: 10px;"><small>{user-rating}</small></td>
		</tr>
	</table>

	<h1>User Comments</h1>
	<br/>
	{comments}
	<hr/>
	{comment-form}
